
-----------
INTEL CPU |
-----------


1) MSI PRO Z790-P WiFi Motherboard, ATX - Supports Intel 12th & 13th Gen Core Processors, LGA 1700-55A DrMOS, DDR5 Memory Boost 7000+MHz/OC, PCIe 5.0 & 4.0 x16, 4 x M.2 Gen4, Wi-Fi 6E, 2.5G LAN - Rs: 23,499

2) CPU Processor - Intel Core i7 12700 12th Gen Generation Desktop PC Processor CPU APU with 25MB Cache and up to 4.90 GHz Clock Speed 3 Years Warranty with Fan LGA 1700 4K (Graphic Card Not Required) - Rs: 26,699

3) Memory (RAM) DDR5 - Corsair Dominator Platinum RGB DDR5 32GB (2x16GB) DDR5 7200 MHz C34 Intel Optimised Desktop Memory (Onboard Voltage Regulation, Patented DHX Cooling, 12 Ultra-Bright CAPELLIX RGB LEDs) Black  - Rs: 21,218

4) Storage (SSD) - Crucial P3 1TB PCIe 3.0 3D NAND NVMe M.2 SSD, up to 3500MB/s - CT1000P3SSD8 - Rs: 5,540

5) Graphics Card - MSI GeForce RTX 3050 Ventus 2X 6G OC Graphic Card - NVIDIA GeForce RTX 3050 GPU, 6GB GDDR6 96-bit Memory, 14 Gbps, PCI Express 4 Interface, Upto 1492 MHz, Dual Fan - Rs: 18,999

6) CPU Cabin - MSI MAG Forge 112R Mid Tower Gaming PC Case | USB 3.2 Gen 1 Type-A | Support Bracket | 1 x 120mm ARGB Fan, | Tempered Glass Panel, Magnetic Dust Filter | Black (ATX, m-ATX, Mini-ITX Compatible) - Rs: 4,851

7) Power Supply - Cooler Master MWE 650 Bronze V2 Power Supply - Non-Modular | 80 Plus Bronze Certified | 120mm HDB Fan | DC-to-DC Circuit Design | 2 EPS Connector | ATX 2.52 Version | 650 Watt - Rs: 5,379



--------------
GIGABYTE CPU |
--------------


1) Mother Board - GIGABYTE Z790 AORUS Elite AX (LGA 1700/ Intel Z790/ ATX/ DDR5/ Quad M.2/ PCIe 5.0/ USB 3.2 Gen2X2 Type-C/Intel WiFi 6E/ 2.5GbE LAN/Q-Flash Plus/PCIe EZ-Latch/Gaming Motherboard)  - Rs: 19,189

2) CPU Processor - Intel Core i7 12700 12th Gen Generation Desktop PC Processor CPU APU with 25MB Cache and up to 4.90 GHz Clock Speed 3 Years Warranty with Fan LGA 1700 4K (Graphic Card Not Required) - Rs: 26,699

3) Memory (RAM) DDR5 - G.Skill Trident Z5 RGB Series (Intel XMP) 32GB (2 x 16GB) 288-Pin SDRAM DDR5 7200 CL34-45-45-115 1.40V Dual Channel Desktop Memory F5-7200J3445G16GX2-TZ5RK (Matte Black)  - Rs: 17,459

4) Storage (SSD) - Crucial P3 1TB PCIe 3.0 3D NAND NVMe M.2 SSD, up to 3500MB/s - CT1000P3SSD8 - Rs: 5,540

5) Graphics Card - GIGABYTE Nvidia GeForce ® GTX 1650 D6 pci_e_x16 WINDFORCE OC 4GD Graphics Card with Integrated 4GB GDDR6 Memory (GV-N1656WF2OC-4GD) - Rs: 12,929

6) CPU Cabin - MSI MAG Forge 112R Mid Tower Gaming PC Case | USB 3.2 Gen 1 Type-A | Support Bracket | 1 x 120mm ARGB Fan, | Tempered Glass Panel, Magnetic Dust Filter | Black (ATX, m-ATX, Mini-ITX Compatible) - Rs: 4,851

7) Power Supply - Cooler Master MWE 650 Bronze V2 Power Supply - Non-Modular | 80 Plus Bronze Certified | 120mm HDB Fan | DC-to-DC Circuit Design | 2 EPS Connector | ATX 2.52 Version | 650 Watt - Rs: 5,379











PC specs:

CPU: Intel Core i7-14700K
GPU: Nvidia GeForce RTX 4090 ROG Strix OC EVA-02 Edition
Motherboard: ROG Maximus Z790 Hero EVA-02 Edition
RAM: 64GB 6000MHz DDR5 G.Skill Trident Z5 RGB
SSD: Samsung 980 Pro 1TB NVMe M.2
CPU cooler: ROG Ryujin III 360 ARGB EVA-02 Edition
PSU: ROG Thor 1000W Platinum II Eva Edition
Case: ROG Hyperion EVA-02 Edition




Testing

HeavyLoad  - Stress Test Your PC
FurMark  -   GPU STRESS TEST
Cinebench  -  industry-standard benchmarking software
CrystalDiskMark
3DMark benchmark
PCMark 10 — The Complete Benchmark

https://outervision.com/power-supply-calculator
https://kryptronix.in/product/custom-rig/


supports ddr5 7200 only with the compatibility of both mother board and cpu processor 

CarZ$Auth